image: Visual Studio 2019

skip_branch_with_pr: true

pull_requests:
  do_not_increment_build_number: true

platform: Any CPU
configuration: Release
version: '2.1.0-unstable.{build}'

before_build:
  - nuget restore Source/OxyPlot.CI.sln

build_script:
  - msbuild Source/OxyPlot.CI.sln "/p:Platform=Any CPU" "/p:Configuration=Release" "/p:Version=%APPVEYOR_BUILD_VERSION%"  /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
 
artifacts:
  - path: '**/bin/Release/**/*.nupkg'
    name: packages

deploy:
  provider: NuGet
  server: https://www.myget.org/F/oxyplot/api/v2/package
  api_key:
    secure: 2GnqgfpkOUH6Umfn1WWlun0b021+QeInBXkgQOQfa4/wDOYHLT757rrjTsb0lmon
  skip_symbols: false
  symbol_server:           # remove to push symbols to SymbolSource.org
  artifact: packages
