image: Visual Studio 2019

skip_branch_with_pr: true

pull_requests:
  do_not_increment_build_number: true

platform: Any CPU
configuration: Release

install:
  - cinst gitversion.portable --version=3.6.4 -y
  - cinst gitlink --version=2.3.0 -y

before_build:
  - appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
  - NuGet restore Source/OxyPlot.AppVeyor.sln
  - gitversion /l console /output buildserver

build_script:
  - msbuild Source/OxyPlot.AppVeyor.sln "/p:Platform=Any CPU" "/p:Configuration=Release" "/p:Version=%GitVersion_NuGetVersion%"  /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
 
after_build:
  - gitlink c:\projects\oxyplot -u https://github.com/oxyplot/oxyplot -f Source/OxyPlot.AppVeyor.sln
  - NuGet pack Source\OxyPlot.Windows\OxyPlot.Windows.nuspec -version "%GitVersion_NuGetVersion%" -OutputDirectory Source\OxyPlot.Windows\bin\Release

artifacts:
  - path: '**/bin/Release/**/*.nupkg'
    name: packages

deploy:
  provider: NuGet
  server: https://www.myget.org/F/oxyplot/api/v2/package
  api_key:
    secure: 2GnqgfpkOUH6Umfn1WWlun0b021+QeInBXkgQOQfa4/wDOYHLT757rrjTsb0lmon
  skip_symbols: false
  symbol_server:           # remove to push symbols to SymbolSource.org
  artifact: packages
