<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Example Browser</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/OxyPlot_57</string>
		<string>Images/OxyPlot_114</string>
		<string>Images/OxyPlot_72</string>
		<string>Images/OxyPlot_29</string>
		<string>Images/OxyPlot_58</string>
		<string>Images/OxyPlot_50</string>
		<string>Images/OxyPlot_120</string>
		<string>Images/OxyPlot_144</string>
		<string>Images/OxyPlot_76</string>
		<string>Images/OxyPlot_152</string>
		<string>Images/OxyPlot_100</string>
		<string>Images/OxyPlot_40</string>
		<string>Images/OxyPlot_80</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
