<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionName="Alpha" package="OxyPlot" android:versionCode="1">
	<application android:label="OxyPlot Example Browser" android:icon="@drawable/icon"></application>
	<uses-sdk />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>