<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionCode="1" android:versionName="Alpha">
  <application android:label="OxyPlot Example Browser">
  </application>
  <uses-sdk android:minSdkVersion="4" />
</manifest>